* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #181818;
  font-family: Inter;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  height: 77px;
  border-bottom: 1px solid white;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  padding-top: 20px;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  padding-top: 5px;
}

.header_nav {
  display: flex;
  gap: 16px;
}

.dropbtn {
  font-size: 14px;
  color: #eeeeee;
}

a {
  font-size: 16px;
  color: #eeeeee;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right_btn {
  width: 128px;
  height: 30px;
  background-color: #24b47e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

.sign {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

/* ACCORD */
.product_btn {
  background-color: #181818;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.product_btn:hover,
.product_btn:focus {
  background-color: #181818;
}

.product {
  position: relative;
  display: inline-block;
}

.product_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product_content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.product_content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* ACCORD */
.developer_btn {
  background-color: #181818;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}

.developer_btn:hover,
.developer_btn:focus {
  background-color: #181818;
}

.developer {
  position: relative;
  display: inline-block;
}

.developer_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.developer_content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.developer_content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.show_ {
  display: block;
}

/* banner */
.banner {
  margin-top: 100px;
}

.banner_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.storage {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 18px;
  font-family: Inter;
}

.title {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 40px;
}

.banner_title {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.banner_title_ {
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.banner_text {
  flex-direction: column;
  display: flex;
  row-gap: 16px;
  width: 435px;
  padding-top: 52px;
}

.text {
  font-size: 14px;
  color: #e0e0e0;
}

.text_ {
  font-size: 14px;
  color: #e0e0e0;
  padding-top: 16px;
}

.banner_btn {
  width: 133px;
  height: 38px;
  background-color: #24b47e;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  border-radius: 4px;
  color: white;
}

/* banner */

/* adv */
.adv {
  margin-top: 100px;
}

.adv_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adv_card {
  width: 280px;
  height: 192px;
}

.adv_title {
  font-size: 18px;
  color: white;
  padding-top: 16px;
  font-weight: 300;
}

.adv_bot {
  font-size: 18px;
  color: #e0e0e0;
  padding-top: 20px;
  font-weight: 300;
}

.adv_bot_ {
  font-size: 13px;
  color: #e0e0e0;
  padding-top: 20px;
  font-weight: 300;
}

/* adv */

/* media */
.media {
  margin-top: 200px;
}

.media_title {
  font-size: 48px;
  color: white;
}

.media_text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
}

.media_text_ {
  font-size: 18px;
  color: #e0e0e0;
  font-weight: 300;
}

.media_text__ {
  font-size: 18px;
  color: #e0e0e0;
  font-weight: 300;
}

.media_bot {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_text {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 16px;
}

.right_text-reg {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
}

.right_block {
  padding: 20px;
  background-color: #1f1f1f;
  color: white;
  border-radius: 4px;
  width: 373px;
}

.right_block-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  background-color: #1f1f1f;
}

.right_block-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 13px;
  background-color: #1f1f1f;
}

.right_block-bot {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  display: flex;
  background-color: #1f1f1f;
  gap: 8px;
}

.right_block-second {
  padding: 20px;
  color: #e0e0e0;
  display: flex;
  gap: 10px;
}
.deploy_btn {
  background-color: #1374ef;
  width: 92px;
  height: 32px;
  border-radius: 5px;
  margin-left: 20px;
}
/* media */

/* accordion */
.faq {
  margin-top: 150px;
}
.faq_title {
  font-size: 36px;
  font-weight: 300;
  color: white;
  margin-bottom: 40px;
  padding: 20px;
}
.faq_sub_text {
  font-size: 14px;
  color: #e0e0e0;
  width: 425px;
  padding-top: 20px;
}
.faq_text {
  font-size: 14px;
  color: #e0e0e0;
  width: 1050px;
  padding-top: 40px;
  line-height: 20px;
}
/*  */ /*  */ /*  */ /*  */ /*  */
.active,
.accordion:hover {
  background-color: #101010;
  cursor: pointer;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #181818;
  color: #e0e0e0;
  overflow: hidden;
  font-size: 14px;
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.accordion {
  text-align: left;
  color: #e0e0e0;
  height: 28px;
  background-color: #181818;
  border: none;
  font-size: 14px;
}
.list_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 205px;
  height: 36px;
  background-color: #2a2a2a;
  padding: 10px 15px;
  margin-top: 30px;
}
.acc_btn {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.arrow {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.arrow:hover {
  cursor: pointer;
}
.acc_btn:hover {
  background-color: #101010;
}
/*  */ /*  */ /*  */ /*  */ /*  */
/* accordion */

/* footer */

.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 127px;
  margin-top: 150px;
}

.footer_left > a > img {
  width: 160px;
  margin-bottom: 32px;
}

.footer_icons {
  display: flex;
  gap: 24px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_link {
  color: #eeeeee;
  font-weight: 400;
}
.footer_link_ {
  color: #eeeeee;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_menu_active {
  margin-bottom: 16px;
  color: #666666;
}

.footer_bott {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2a2a2a;
  padding: 33px 0px 16px 0px;
}

.copy {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.footer_bott_icons {
  display: flex;
  gap: 22px;
}

/* end-footer */
